// min-width
$breakpoints: (
  'sm': 'screen and (min-width: 480px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
) !default;

// @mixinの定義
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// color
$color-primary: #0d6efd;
$color-text-default: #333;
$color-text-light: #fff;

// z-index
$z-float-btn: 100;
$z-page-transition: 1000;

// transition
$transition-fast: .3s;
$transition-default: .5s;
